#base {
    position:relative; 
    top:140px; 
    left:140px;
    width:100px; 
    height:150px;
    /*background-color: red;          */
}

#cannon{
	position:relative; 
    bottom:140px ; 
    width:100px;
    height:120px;
    /*background-color: blue;*/
}


#base_img {
    position:relative; 
    width:100px; 
    height:150px;          
}

#gun{
    position:relative; 
    bottom:25px ; 
    width:100px;
    height:120px;          
}

#grd_img {
    position:fixed;
    width:800px; 
    height:600px;
    border:2px solid red;
}